nav {
  padding: 20px;

  ul {
    list-style: none;
    display: flex;

    li {
      display: inline-block;
      margin-left: 10px;
      font-size: 17px;

      &:first-of-type {
        margin-right: auto;
      }
    }
  }
}